<component name="libraryTable">
  <library name="system">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../BungeeCord/Dep/system.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../BungeeCord/Dep/system.jar!/" />
    </SOURCES>
  </library>
</component>